In [1]:
import pandas as pd

In [2]:
path1='../bert_emo/bert/entity_1_df/test_results.txt'

In [3]:
df1 = pd.read_csv(path1,sep='\t',names=['newsId','entity','emtion'])
df1=df1.fillna('')

In [4]:
import numpy as np
from collections import Counter
def post(x):
    #格式处理：c
  
    #x=' '.join(x)
    x = x.split(',') 
    #过滤

    return[i[0] for i in  Counter(x).most_common(3) if i[1]>0]

In [404]:
df1['entity_sub'] = df1['entity'].map(lambda x :x.split(','))
#.map(lambda x:post(x))

In [401]:
df1

,newsId,entity,emtion,entity_sub,emotion_pred,entity_pred
0,a8df14bc,资管计划,POS,资管计划,POS,资管计划
1,da1f7a3b,,,,POS,
2,4a76109a,,,,POS,
3,b035435d,,,,POS,
4,b6514ace,iaas,POS,iaas,POS,iaas
5,9ea39464,,,,POS,
6,d2e7c503,玻璃钢脱硫除尘器,POS,玻璃钢脱硫除尘器,POS,玻璃钢脱硫除尘器
7,2b757ee9,"甲醇,甲醇","POS,POS","甲醇,甲醇",POS,甲醇
8,558c250c,sdoc,POS,sdoc,POS,sdoc
9,10f3d644,无线网络,POS,无线网络,POS,无线网络
10,557b8732,idc,POS,idc,POS,idc
11,deaf1d6f,,,,POS,
12,49a62f34,"期货市场,期货市场","POS,POS","期货市场,期货市场",POS,期货市场
13,39d3a763,,,,POS,
14,6efe87f7,,,,POS,
15,ef68ef66,惊奇队长,POS,惊奇队长,POS,惊奇队长
16,17c70218,,,,POS,
17,187f14e3,,,,POS,
18,abb6f3c0,,,,POS,
19,58be1914,"区块链,区块链,比特币","POS,POS,POS","区块链,区块链,比特币","POS,POS","区块链,比特币"
20,a045249e,,,,POS,
21,a1da2bb6,"亚马逊,亚马逊","POS,POS","亚马逊,亚马逊",POS,亚马逊
22,61d73358,"亚马逊,亚马逊","POS,POS","亚马逊,亚马逊",POS,亚马逊
23,45471a82,"亚马逊,亚马逊","POS,POS","亚马逊,亚马逊",POS,亚马逊
24,b2dc8043,"facebook,facebook","POS,POS","facebook,facebook",POS,facebook
25,11c3ed6a,,,,POS,
26,fe2baa69,,,,POS,
27,e9d80e1a,,,,POS,
28,3827ef0a,,,,POS,
29,6f337a18,,,,POS,
...,...,...,...,...,...,...
39970,8944af95,aiot,POS,aiot,POS,aiot
39971,472f1fac,"希腊,希腊","POS,POS","希腊,希腊",POS,希腊
39972,cf5bec97,我们的师父,POS,我们的师父,POS,我们的师父
39973,d721dab9,"艾比,艾比,薛之谦","POS,POS,POS","艾比,艾比,薛之谦","POS,POS","艾比,薛之谦"
39974,3785a99b,"石药集团,蔡东晨","POS,POS","石药集团,蔡东晨","POS,POS","石药集团,蔡东晨"
39975,9ad4d7dc,"分级基金,分级基金","POS,POS","分级基金,分级基金",POS,分级基金
39976,074ee3d2,"于小彤,于小彤,陈小纭","POS,POS,POS","于小彤,于小彤,陈小纭","POS,POS","于小彤,陈小纭"
39977,642b5638,"王晓晨,王晓晨","POS,POS","王晓晨,王晓晨",POS,王晓晨
39978,63047e6d,"贾静雯,贾静雯","POS,POS","贾静雯,贾静雯",POS,贾静雯
39979,98f916b6,"袁立,袁立","POS,POS","袁立,袁立",POS,袁立
39980,d198389c,清水河大桥,POS,清水河大桥,POS,清水河大桥
39981,1580a25b,,,,POS,
39982,2f4208ba,oppok1,POS,oppok1,POS,oppok1
39983,d57038ea,流量小生,POS,流量小生,POS,流量小生
39984,d2b590a3,"李安琪,李安琪,李小鹏","POS,POS,POS","李安琪,李安琪,李小鹏","POS,POS","李安琪,李小鹏"
39985,58802019,天猫,POS,天猫,POS,天猫
39986,5c9946fe,"袁立,袁立,杜小月","POS,POS,POS","袁立,袁立,杜小月","POS,POS","袁立,杜小月"
39987,f8529d7e,"李小璐,甜馨,甜馨,李小璐","POS,POS,POS,POS","李小璐,甜馨,甜馨,李小璐","POS,POS","李小璐,甜馨"
39988,d52bba1b,aorusad27qd,POS,aorusad27qd,POS,aorusad27qd
39989,d0bec665,"杜蕾斯,杜蕾斯","POS,POS","杜蕾斯,杜蕾斯",POS,杜蕾斯
39990,80a78dbd,"腾讯,腾讯","POS,POS","腾讯,腾讯",POS,腾讯
39991,2321f83d,"王晓晨,王晓晨","POS,POS","王晓晨,王晓晨",POS,王晓晨
39992,b7dfd503,"最强大脑,丁若虚,俞辰捷,丁若虚,俞辰捷,王易木","POS,POS,POS,POS,POS,POS","最强大脑,丁若虚,俞辰捷,丁若虚,俞辰捷,王易木","POS,POS,POS","丁若虚,俞辰捷,最强大脑"
39993,268c75e1,"夜空中最闪亮的星,夏媛","POS,POS","夜空中最闪亮的星,夏媛","POS,POS","夜空中最闪亮的星,夏媛"
39994,5c0e39eb,两会,POS,两会,POS,两会
39995,33a451a7,"销售,销售人员,销售,销售人员","POS,POS,POS,POS","销售,销售人员,销售,销售人员","POS,POS","销售,销售人员"
39996,b27d5900,牡丹亭,POS,牡丹亭,POS,牡丹亭
39997,c0937632,"迪士尼,迪士尼","POS,POS","迪士尼,迪士尼",POS,迪士尼
39998,d9075600,"拉卡拉,拉卡拉","POS,POS","拉卡拉,拉卡拉",POS,拉卡拉
39999,ce4d0490,比悲伤更悲伤的故事,POS,比悲伤更悲伤的故事,POS,比悲伤更悲伤的故事

In [6]:
df1['emotion_pred']=df1.apply(lambda x:['POS']*len(x['entity_sub']),axis=1)
df1['entity_pred'] = df1['entity_sub'].map(lambda x:','.join(x))
df1['emotion_pred'] = df1['emotion_pred'].map(lambda x:','.join(x))
df1[['newsId','entity_pred','emotion_pred']].to_csv('df_emtion_1.txt', sep='\t',index=False,header=False)

In [7]:
df1.entity_pred.map(lambda x:len(x.split(','))).sum()

54332

In [8]:
df1[['newsId','entity_pred','emotion_pred']].to_csv('df_emtion_1.txt', sep='\t',index=False,header=False)

# 从这里开始往下

In [9]:
import re
def clean_texts(content):
    content = content.strip()
    content = content.replace(' ','')
    content = re.sub("[\s+\.\!\/_,$%^*(+\"\')]+|[+——()?【】“”！，。？、~@#￥%……&*（）]+", "",content)
    return content

In [445]:
starDict= pd.read_csv('./dict/person.txt',names=['entity']).entity.to_list()
starDict = {k:v for v,k in enumerate(set(starDict))}

In [456]:
nerlist = pd.read_csv('../data/nerDict.txt',names=['entity']).entity.to_list() + pd.read_csv('./dict/person.txt',names=['entity']).entity.to_list()

In [457]:
train_nerlist =  pd.read_csv('./train_nerdict.csv',names=['entity']).entity.to_list()

In [513]:
nerset = nerlist

In [514]:
nerDict = {k:v for v,k in enumerate(nerset)}

In [1065]:
def star_name_filter(ss):
    '''
        ss = ['王思聪','微信','王思']
    
    out:['王思聪', '微信']
    '''
    final_res=[]
    name_reals =[s for s in ss if s in starDict]
    #print(name_reals)
    bad_name = []
    for s in ss:
        if s in name_reals:
            
            final_res.append(s)
            continue
        else:
            for name_real in name_reals:
                if len(name_real) >3:
                    continue
                pattern = '?.'+name_real[:2]+'|'+name_real[:2]+'.?'
                pattern = '[\u4e00-\u9fa5]?'+name_real[:2]+'$|'+name_real[:2]+'[\u4e00-\u9fa5]?$' # match 第一个参数是需要匹配的字符串，第二个是源字符串
                if re.match(pattern,s): # match 第一个参数是需要匹配的字符串，第二个是源字符串
                    bad_name.append(s)
                    pass
                
                    
    final_res = [s for s in ss if s not in bad_name]
    return final_res
star_name_filter(['叙利亚','库尔德武装','库尔德'])

['叙利亚', '库尔德武装', '库尔德']

In [1001]:
re.match(".?王思","啊啊王思") # match 第一个参数是需要匹配的字符串，第二个是源字符串

In [1002]:
re.match("[\u4e00-\u9fa5]?王思$|王思[\u4e00-\u9fa5]?$","啊王思") # match 第一个参数是需要匹配的字符串，第二个是源字符串

In [1003]:
star_name_filter(['王思聪','王思','里王思'])

['王思聪']

In [1004]:
def u200b(x):
    res = []
    for s in x:
        if not re.search('\u200b',s) and not re.search('u200b',s):
            res.append(s)
    return res

badlist = ['的','是','\\','：',"》"]
fist_baddict ={k:v for v,k in enumerate(badlist)}

def book(x):
    
    res = []
    for s in x:
        if re.search('《',s) or s[0] in fist_baddict or s[-1] in ["："] :
            pass
        else:
            res.append(s)
    return res

In [1131]:
def huaweip30(x):
    res = []
    for entity in x:
        if entity=='华为p30':
            res.append('华为')
            res.append('p30')
        else:
            res.append(entity)
    return res

def huaweipnova4e(x):
    res = []
    for entity in x:
        if entity=='华为nova4e':
            res.append('华为')
            res.append('nova4e')
        else:
            res.append(entity)
    return res

In [1163]:
def read_df(path):
    df = pd.read_csv(path,sep='\t',names=['newsId','entity','entity_all','emtion'])
    df = df.astype(str)
    df['entity_all'] = df['entity_all'].map(lambda x:x[2:-2])
    
    
    #clean
    
    df['entity_all']=df['entity_all'].map(lambda x:[clean_texts(i) for i in x.split()])
    #过滤长度为1的字符
    df['entity_sub']=df['entity_all'].map(lambda x:[i for i in x if len(i)>1])
    
    df['entity_sub']=df['entity_sub'].map(lambda x:u200b(x))
    df['entity_sub']=df['entity_sub'].map(lambda x:book(x))
    
    #df['entity_sub']=df['entity_sub'].map(lambda x:huaweip30(x))
    #df['entity_sub']=df['entity_sub'].map(lambda x:huaweipnova4e(x))

    #df['entity_sub']=df['entity_sub'].map(lambda x:star_name_filter(x))
    #
   

    return df

In [1164]:
# path2='../BERT-BiLSTM-CRF-NER/output_500_agg_233/bert_res.txt.all_pred.csv'
# df2 = read_df(path2)
# df2.head()

In [1203]:
path3='../BERT-BiLSTM-CRF-NER/output_500_no_agg_233/bert_res.txt.all_pred.csv'
df3 = read_df(path3)
df3.head()

,newsId,entity,entity_all,emtion,entity_sub
0,a8df14bc,资管计划,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划]",POS,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划]"
1,da1f7a3b,集合信托,"[集合信托, 集合信托, 集合信托]",POS,"[集合信托, 集合信托, 集合信托]"
2,4a76109a,杨超越,[],POS,[]
3,b035435d,"大学数据中心,机房供电系统","[大学数据中心, 机房供电系统]","POS,POS","[大学数据中心, 机房供电系统]"
4,b6514ace,云环境,"[云环境, 云环境]",POS,"[云环境, 云环境]"

In [1204]:
path4='../BERT-BiLSTM-CRF-NER/output_500_no_agg_234/bert_res.txt.all_pred.csv'
df4 = read_df(path4)
df4.head()

,newsId,entity,entity_all,emtion,entity_sub
0,a8df14bc,资管计划,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划]",POS,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划]"
1,da1f7a3b,"集合信托,信托","[信托, 集合信托, 集合信托, 集合信托]","POS,POS","[信托, 集合信托, 集合信托, 集合信托]"
2,4a76109a,杨超越,[],POS,[]
3,b035435d,机房供电系统,[机房供电系统],POS,[机房供电系统]
4,b6514ace,云环境,"[云环境, 云环境, 云环境]",POS,"[云环境, 云环境, 云环境]"

In [1208]:
path5='../BERT-BiLSTM-CRF-NER/output_500_agg_234/bert_res.txt.all_pred.csv'
df5 = read_df(path5)
df5.head()

,newsId,entity,entity_all,emtion,entity_sub
0,a8df14bc,资管计划,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划, , 资管计划, , 资管计划,...",POS,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计..."
1,da1f7a3b,"集合信托,信托","[集合信托, 集合信托, 集合信托, 信托, 集合信托, , 集合信托, , 集合信托, ,...","POS,POS","[集合信托, 集合信托, 集合信托, 信托, 集合信托, 集合信托, 集合信托, 集合信托]"
2,4a76109a,4k概念,"[4k概念, , 4k概念]",POS,"[4k概念, 4k概念]"
3,b035435d,"数据中心,机房供电系统","[数据中心, 机房供电系统]","POS,POS","[数据中心, 机房供电系统]"
4,b6514ace,"云环境,iaas,云计算","[云环境, , 云环境, iaas, 云环境, 云环境, 云环境, , 云环境, , 云环境...","POS,POS,POS","[云环境, 云环境, iaas, 云环境, 云环境, 云环境, 云环境, 云环境, 云计算]"

In [1215]:
path6='../BERT-BiLSTM-CRF-NER/output_500_no_agg_234_lstm_5epoch//bert_res.txt.all_pred.csv'
df6 = read_df(path6)
df6.head()

,newsId,entity,entity_all,emtion,entity_sub
0,a8df14bc,资管计划,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划]",POS,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划]"
1,da1f7a3b,集合信托,"[集合信托, 集合信托, 集合信托]",POS,"[集合信托, 集合信托, 集合信托]"
2,4a76109a,仙人指路,[仙人指路],POS,[仙人指路]
3,b035435d,机房供电系统,[机房供电系统],POS,[机房供电系统]
4,b6514ace,云环境,"[云环境, 云环境, 云环境]",POS,"[云环境, 云环境, 云环境]"

In [1172]:
df6.entity_all[34797]

['小飞象', '《小飞', '的《小', '映《小', '和《小']

In [1211]:
path7='../BERT-BiLSTM-CRF-NER/output_500_agg_234_lstm/bert_res.txt.all_pred.csv'
df7 = read_df(path7)
df7.head()

,newsId,entity,entity_all,emtion,entity_sub
0,a8df14bc,资管计划,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划, , 资管计划, , 资管计划,...",POS,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计..."
1,da1f7a3b,"信托,集合信托,用益信托","[用益信托, 集合信托, 集合信托, 集合信托, , 用益信托, 集合信托, 信托, 信托,...","POS,POS,POS","[用益信托, 集合信托, 集合信托, 集合信托, 用益信托, 集合信托, 信托, 信托, 信..."
2,4a76109a,杨超越,"[, ]",POS,[]
3,b035435d,"数据中心,机房供电系统","[数据中心, 机房供电系统]","POS,POS","[数据中心, 机房供电系统]"
4,b6514ace,"云环境,iaas云环境","[云环境, , 云环境, iaas云环境, 云环境, 云环境, , 云环境, , 云环境]","POS,POS","[云环境, 云环境, iaas云环境, 云环境, 云环境, 云环境, 云环境]"

In [1212]:
path8='../BERT-BiLSTM-CRF-NER/output_500_agg_233_lstm/bert_res.txt.all_pred_epoch2.csv'
df8 = read_df(path8)
df8.head()

,newsId,entity,entity_all,emtion,entity_sub
0,a8df14bc,资管计划,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划, , 资管计划, , 资管计划,...",POS,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计..."
1,da1f7a3b,"集合信托,基础产业,信托","[集合信托, 集合信托, 集合信托, , 用益信托, 集合信托, 基础产业, 信托, , 集...","POS,POS,POS","[集合信托, 集合信托, 集合信托, 用益信托, 集合信托, 基础产业, 信托, 集合信托,..."
2,4a76109a,4k概念,"[4k概念, , 4k概念]",POS,"[4k概念, 4k概念]"
3,b035435d,"大学数据中心,机房供电系统","[大学数据中心, 机房供电系统]","POS,POS","[大学数据中心, 机房供电系统]"
4,b6514ace,"云环境,云计算","[云环境, , 云环境, 云环境, 云环境, 云环境, , 云环境, , 云环境, 云计算]","POS,POS","[云环境, 云环境, 云环境, 云环境, 云环境, 云环境, 云环境, 云计算]"

In [1213]:
# path9='../BERT-BiLSTM-CRF-NER/output_500_no_agg_233_lstm/bert_res.txt.all_pred_epoch2.csv'
# df9 = read_df(path9)
# df9.head()

In [1214]:
path10='../BERT-BiLSTM-CRF-NER/output_500_agg_233_lstm/bert_res.txt.all_pred.csv'
df10 = read_df(path10)
df10.head()

,newsId,entity,entity_all,emtion,entity_sub
0,a8df14bc,资管计划,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划, , 资管计划, , 资管计划,...",POS,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计..."
1,da1f7a3b,"集合信托,用益信托","[集合信托, 集合信托, 集合信托, , 用益信托, 集合信托, , 集合信托, , 集合信...","POS,POS","[集合信托, 集合信托, 集合信托, 用益信托, 集合信托, 集合信托, 集合信托, 用益信..."
2,4a76109a,4k概念,"[4k概念, , 4k概念]",POS,"[4k概念, 4k概念]"
3,b035435d,"大学数据中心,机房供电系统","[大学数据中心, 机房供电系统]","POS,POS","[大学数据中心, 机房供电系统]"
4,b6514ace,"云环境,云计算","[云环境, , 云环境, 云环境, 云环境, 云环境, , 云环境, , 云环境, 云计算]","POS,POS","[云环境, 云环境, 云环境, 云环境, 云环境, 云环境, 云环境, 云计算]"

In [1216]:
path11='../BERT-BiLSTM-CRF-NER/output_500_no_agg_234_lstm_8epoch//bert_res.txt.all_pred.csv'
df11 = read_df(path11)
df11.head()

,newsId,entity,entity_all,emtion,entity_sub
0,a8df14bc,资管计划,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划]",POS,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划]"
1,da1f7a3b,集合信托,"[集合信托, 集合信托, 集合信托]",POS,"[集合信托, 集合信托, 集合信托]"
2,4a76109a,杨超越,[],POS,[]
3,b035435d,"大学数据中心,机房供电系统","[大学数据中心, 机房供电系统]","POS,POS","[大学数据中心, 机房供电系统]"
4,b6514ace,云环境,"[云环境, 云环境, 云环境]",POS,"[云环境, 云环境, 云环境]"

In [1217]:
path12='../BERT-BiLSTM-CRF-NER/output_500_no_agg_234_lstm_256/bert_res.txt.all_pred.csv'
df12 = read_df(path12)
df12.head()

,newsId,entity,entity_all,emtion,entity_sub
0,a8df14bc,资管计划,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划]",POS,"[资管计划, 资管计划, 资管计划, 资管计划, 资管计划]"
1,da1f7a3b,"集合信托,用益信托","[用益信托, 集合信托, 集合信托, 集合信托]","POS,POS","[用益信托, 集合信托, 集合信托, 集合信托]"
2,4a76109a,杨超越,[],POS,[]
3,b035435d,机房供电系统,[机房供电系统],POS,[机房供电系统]
4,b6514ace,云环境,"[云环境, 云环境, 云环境]",POS,"[云环境, 云环境, 云环境]"

In [1260]:
path13='../BERT-BiLSTM-CRF-NER/title_50_234_lstm_128/bert_res.txt.all_pred.csv'
df13 = read_df(path13)
df13.head()

     newsId     entity     entity_all       emtion entity_sub
0  a8df14bc       资管计划         [资管计划]          POS     [资管计划]
1  da1f7a3b       集合信托         [集合信托]          POS     [集合信托]
2  4a76109a        杨超越             []          POS         []
3  b035435d  学,数,机房供电系  [学, 数, 机房供电系]  POS,POS,POS    [机房供电系]
4  b6514ace        云环境          [云环境]          POS      [云环境]

In [1261]:
df_sub=pd.DataFrame()
df_sub['newsId'] =df1['newsId']
df_sub['entity_all'] = df3['entity_sub']+df4['entity_sub']+df6['entity_sub'] \
+df7['entity_sub']+df5['entity_sub']+df8['entity_sub']+df10['entity_sub']+df12['entity_sub']+df13['entity_sub']
#df_sub['entity_all'] = df6['entity_sub']

In [1262]:
 #过滤长度为1的字符
df_sub['entity_all']=df_sub['entity_all'].map(lambda x:[i for i in x if len(i)>1])

df_sub['entity_all']=df_sub['entity_all'].map(lambda x:u200b(x))
#df_sub['entity_all']=df_sub['entity_all'].map(lambda x:star_name_filter(x))
df_sub['entity_all']=df_sub['entity_all'].map(lambda x:book(x))

In [1263]:
import numpy as np
from collections import Counter

In [1264]:
def post(x):
     #格式处理：c
    x = np.array(x).flatten().tolist()
    x=' '.join(x)
    x = x.replace(',', '')
    x = x.split() 
    d =[]
    line = Counter(x).most_common(3)
    line_cnt = float(np.array([i[1] for i in line]).sum())
    for entity_cnt in  line:
        if len(line)>1 and entity_cnt[1]/(line_cnt+0.0001)<0.30 and entity_cnt[0] not in nerDict:
            pass
        else:
            d.append(entity_cnt[0])
    return d

In [1265]:
def post4rank(x):
     #格式处理：c
    x = np.array(x).flatten().tolist()
    x=','.join(x)
    #x = x.replace(',', '')
    x = x.split(',') 
    d =[]
    line = Counter(x).most_common()
    line_cnt = float(np.array([i[1] for i in line]).sum())
    for entity_cnt in  line:
        if len(line)>1 and entity_cnt[1]/(line_cnt+0.0001)<0.20 and entity_cnt[0] not in nerDict:
            pass
        else:
            d.append(entity_cnt[0])
    return d

In [1266]:
def vivo2x7(x):
    #将所有的vivox27换为vivo x27，只有vivox27 x27 vivo三个的将后2个删除
    
    if set(x)==set(['vivo','x27','vivox27']):
        return ['vivo x27']
    res = []
    for entity in x:
        if entity=='vivox27':
           res.append('vivo x27')
        else:
            res.append(entity)
    
    ff =[]
    for entity in res:
        if entity =='x27':
            ff.append('vivo x27')
        else:
            ff.append(entity)
    ff = list(set(ff))
    return ff

In [1267]:
def delepro(x):
    res =[]
    for entity in x:
        if entity =='pro':
            pass
        else:
            res.append(entity)
    return res

In [1268]:
# df_sub['entity_rank']=df_sub['entity_all'].map(lambda x:post4rank(x))
# df_sub['entity_rank']=df_sub['entity_rank'].map(lambda x:star_name_filter(x))
# df_sub['entity_rank']=df_sub['entity_rank'].map(lambda x:vivo2x7(x))
# df_sub['entity_rank']=df_sub['entity_rank'].map(lambda x:delepro(x))

In [1269]:
df_sub['entity_sub']=df_sub['entity_all'].map(lambda x:post(x))
df_sub['entity_sub']=df_sub['entity_sub'].map(lambda x:star_name_filter(x))
df_sub['entity_sub']=df_sub['entity_sub'].map(lambda x:vivo2x7(x))
df_sub['entity_sub']=df_sub['entity_sub'].map(lambda x:delepro(x))

In [1270]:
df_sub.head()

     newsId                                         entity_all      entity_sub
0  a8df14bc  [资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计划, 资管计...          [资管计划]
1  da1f7a3b  [集合信托, 集合信托, 集合信托, 信托, 集合信托, 集合信托, 集合信托, 集合信托,...      [信托, 集合信托]
2  4a76109a         [仙人指路, 4k概念, 4k概念, 4k概念, 4k概念, 4k概念, 4k概念]    [4k概念, 仙人指路]
3  b035435d  [大学数据中心, 机房供电系统, 机房供电系统, 机房供电系统, 数据中心, 机房供电系统,...  [机房供电系统, 数据中心]
4  b6514ace  [云环境, 云环境, 云环境, 云环境, 云环境, 云环境, 云环境, 云环境, 云环境, ...      [云计算, 云环境]

In [1271]:
#df_sub.entity_all.map(lambda x:Counter(x).most_common()).values[8500:8600]

In [1274]:
df_sub['emotion_pred']=df_sub.apply(lambda x:['POS']*len(x['entity_sub']),axis=1)
df_sub['entity_pred'] = df_sub['entity_sub'].map(lambda x:','.join(x))
df_sub['emotion_pred'] = df_sub['emotion_pred'].map(lambda x:','.join(x))

kk = df_sub.entity_pred.map(lambda x:len(x.split(','))).sum()
print(kk)
df_sub[['newsId','entity_pred','emotion_pred']].to_csv('./output/%d.txt'%kk, sep='\t',index=False,header=False)

91117

In [1191]:
df_sub.entity_pred.map(lambda x:len(x.split(','))).sum()

90375

In [1192]:
df_sub.entity_pred.map(lambda x:len([i for i in x.split(',') if len(i)>1])).sum()

90358

In [1062]:
a1 = pd.read_csv('./90420.txt',sep='\t',names=['id','entity','pos'])

In [1063]:
a2 =pd.read_csv('./90473.txt',sep='\t',names=['id','entity','pos'])

In [1064]:
for i in range(len(a1)):
    try:
        if a1.entity[i]!=a2.entity[i]:
            print(a1.entity[i]+'--------'+a2.entity[i])
    except:
        pass

宋丹丹,我爱我家--------宋丹丹,我爱我家,宋丹
何猷君,赌王--------何猷君,赌王,何猷
麦锐,李希侃--------麦锐,李希,李希侃
李笑来,工业大麻--------李笑来,工业大麻,李笑
成龙,韩娱--------成龙,韩娱,王成龙
小李子--------小李子,为小李,爱小李
吴孟达,射雕--------吴孟达,射雕,吴孟
和欧,马思纯--------年马思,和欧,马思纯
蔡徐坤,潘长江--------蔡徐坤,潘长江,日潘长
张馨予--------张馨予,而张馨,身张馨
胜利,王大陆--------胜利,李胜利,王大陆
吴京,杨超越--------吴京,杨超越,杨超
方丈,娜美--------方丈,娜美,仙娜美
马云,阿里云--------阿里,马云,阿里云
胜利,聊天记录--------胜利,李胜利,聊天记录
阿sa,郑中基--------阿sa,郑中基,郑中
胜利,聊天记录--------胜利,聊天记录,李胜利
陈乔恩,上来说--------陈乔恩,王陈乔,上来说
郭富城--------问郭富,郭富城
诺基亚--------诺基亚,诺基
杨臣刚,老鼠爱大米--------杨臣刚,老鼠爱大米,杨臣
谭建昌--------谭建昌,日谭建,中谭建
胜利,章子怡--------胜利,李胜利,章子怡
马云,阿里云--------阿里,马云,阿里云
刘德华--------刘德华,上刘德
杨童舒--------杨童舒,杨童
倪大红,苏大强--------倪大红,欢倪大,苏大强
阿里云,saas加速器--------阿里云,阿里,saas加速器
阿里云--------阿里云,阿里
荷兰弟,漫威--------荷兰弟,漫威,荷兰
胜利案,胜利--------李胜利,胜利案,胜利
刘亦菲--------刘亦菲,剩刘亦,像刘亦
胜利,bigbang--------胜利,bigbang,李胜利
酒神,王思聪--------酒神,了王思,王思聪
关咏荷,张家辉--------关咏荷,张家辉,张家
小红书,曾秀莲--------小红书,曾秀莲,小红
吉尼斯,辣椒--------吉尼斯,辣椒,吉尼
伊斯兰国,叙利亚--------伊斯兰国,叙利亚,叙利
子秦舒,陈冠希--------而陈冠,子秦舒,陈冠希
李诞,黑尾酱--------李诞,黑尾酱,黑尾
ice,王嘉尔--------和王嘉,ice,王嘉尔
于小彤,陈小纭--------于小彤,陈小纭,到于小
魅族x8,刘海屏--------魅族x8,刘海屏,刘海
新加坡银行,新加坡--------新加坡银行,新加坡,新加
杨超越--------吗杨超,议杨超,杨超越
重耳传奇,王龙华--------重耳传奇,王龙华,耳王龙
baby,小海绵--------说小海,baby,小海绵
赵丽颖--------赵丽颖,中赵丽